body{

    background-color: #2c3e50;

}

h1{
    color:white
}

h2{
    color:yellow
}

.dias{
    color:white;
}

h3{
    color:black;
    border: 3px black solid;
    background-color: #f1c40f;
    
}
#gitegithub{
    color:red;
}

#softskills{
    color:red
}







